/* Button */
.button {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 28px;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #02adea;
  border: 1px solid #0099e5;
  text-shadow: 0px 1px 0px #0099e5;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .button:hover {
    background-color: #09bdfd; }
  .button.submit {
    background-color: #34bf49;
    border-color: #2fab41;
    text-shadow: 0px 1px 0px #2fab41; }
    .button.submit:hover {
      background-color: #41cb56; }
  .button.secondary {
    background-color: #71767a;
    border-color: #585c61;
    text-shadow: 0px 1px 0px #585c61; }
    .button.secondary:hover {
      background-color: #83898e; }
  .button.tertiary {
    background-color: #b9c1c7;
    border-color: #9fa7ad;
    text-shadow: 0px 1px 0px #9fa7ad; }
    .button.tertiary:hover {
      background-color: #c8cfd4; }
  .button.delete {
    background-color: #ff4c4c;
    border-color: #e02a35;
    text-shadow: 0px 1px 0px #e02a35; }
    .button.delete:hover {
      background-color: #ff6469; }
  .button.large {
    min-width: 250px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    font-size: 20px; }
  .button.medium {
    min-width: 180px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 16px; }
  .button.disabled {
    cursor: default;
    opacity: 0.5; }
    .button.disabled:hover {
      background-color: #02adea; }
    .button.disabled.submit:hover {
      background-color: #34bf49; }
    .button.disabled.secondary:hover {
      background-color: #71767a; }
    .button.disabled.tertiary:hover {
      background-color: #b9c1c7; }
    .button.disabled.delete:hover {
      background-color: #ff4c4c; }
  .button.on-image {
    border: none;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.15); }
  .button.full {
    width: 100%;
    text-align: center; }
  .button + .button {
    margin-left: 10px; }

.pill {
  display: inline-block;
  background-color: #b9c1c7;
  line-height: 18px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5px;
  border-radius: 2px;
  color: #fff;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pill:hover {
    background-color: #02adea; }
  .pill.action {
    background-color: #0099e5; }
    .pill.action:hover {
      background-color: #02adea; }
  .pill + .pill {
    margin-left: 10px; }

@-webkit-keyframes slide_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes slide_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
@-webkit-keyframes step_up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%); } }
@keyframes step_up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%); } }
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

body, h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4em; }

body {
  padding-top: 40px;
  position: relative;
  padding: 0 20px; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

header {
  padding-top: 20px;
  position: absolute; }
  header h1 {
    font-size: 24px;
    font-weight: bold; }
  header h2 {
    font-size: 14px;
    font-weight: 300; }

.step_1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
  .step_1.invalid_url .error {
    display: block;
    opacity: 1;
    -webkit-transition: all 0.2s;
            transition: all 0.2s; }
  .step_1.animate_out {
    -webkit-animation: step_up 0.4s forwards;
            animation: step_up 0.4s forwards; }
  .step_1 h1 {
    font-size: 24px;
    margin-bottom: 10px; }
  .step_1 .photo_url {
    border: none;
    resize: none;
    outline: none;
    min-width: 550px;
    max-width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    font-size: 26px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .step_1 .photo_url:-moz-placeholder {
      color: #dbdbdb;
      white-space: nowrap; }
    .step_1 .photo_url::-moz-placeholder {
      color: #dbdbdb;
      white-space: nowrap; }
    .step_1 .photo_url:-ms-input-placeholder {
      color: #dbdbdb;
      white-space: nowrap; }
    .step_1 .photo_url::-webkit-input-placeholder {
      color: #dbdbdb;
      white-space: nowrap; }
    .step_1 .photo_url:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  .step_1 .suggestion {
    display: block;
    font-size: 16px;
    margin-top: 20px; }
    .step_1 .suggestion a {
      text-decoration: none;
      color: #0099e5; }
      .step_1 .suggestion a:hover {
        color: #02adea; }
  .step_1 .go {
    margin-top: 40px;
    min-width: 120px;
    opacity: 0; }
    .step_1 .go.hidden {
      display: none; }
    .step_1 .go.animate_in {
      -webkit-animation: slide_up 0.3s forwards;
              animation: slide_up 0.3s forwards; }
  .step_1 .error {
    display: none;
    opacity: 0;
    font-size: 14px;
    color: #ff4c4c;
    margin-top: 20px; }

@media only screen and (max-width: 600px) {
  .step_1 h1 {
    font-size: 18px; }
  .step_1 .photo_url {
    min-width: 90%;
    font-size: 14px; }
  .step_1 .suggestion {
    font-size: 12px; } }
