@import '500px'

=placeholder
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &::-webkit-input-placeholder
    @content

=no_appearance()
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(slide_up)
  0%
    opacity: 0
    transform: translateY(10px)
  100%
    opacity: 1
    transform: translateY(0px)

+keyframes(step_up)
  0%
    opacity: 1
    transform: translateY(-50%)
  100%
    opacity: 0
    transform: translateY(-70%)

+keyframes(animate_hand)
  0%
    opacity: 0
    bottom: -10px
  100%
    opacity: 1
    bottom: 0

*
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  // box-sizing: border-box
  margin: 0
  padding: 0

body, h1, h2, h3, h4, h5, h6, p, span, a, input, textarea
  font-family: "Helvetica Neue", Arial, sans-serif
  line-height: 1.4em

body
  padding-top: 40px
  position: relative
  padding: 0 20px
  overflow: hidden

.background
  background-image: url('/assets/background.jpg')
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  left: -10px
  top: -10px
  right: -10px
  bottom: -10px
  z-index: 5

.overlay
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.25)
  transition: all 0.4s
  z-index: 10

  &.light
    background-color: rgba(0, 0, 0, 0)
    transition: all 0.4s

.wrapper
  max-width: 960px
  margin: 0 auto
  z-index: 15

.phone-hand
  position: absolute
  width: 480px
  height: 610px
  bottom: 0
  left: 50%
  transform: translateX(-37%)
  z-index: -100

.phone
  position: absolute
  width: 480px

.app-image
  position: absolute
  width: 202px
  top: 60px
  left: 68px

.prime-photo
  position: absolute
  background-size: cover
  background-repeat: no-repeat

  &.fb
    top: 193px
    left: 81px
    width: 176px
    height: 93px

  &.ig
    top: 193px
    left: 81px
    width: 176px
    height: 93px

  &.li
    top: 193px
    left: 81px
    width: 176px
    height: 93px

  &.tw
    top: 193px
    left: 81px
    width: 176px
    height: 93px

.hidden
  display: none

header
  padding-top: 20px
  position: absolute
  z-index: 15

  h1
    font-size: 24px
    font-weight: bold

  h2
    font-size: 14px
    font-weight: 300

  &.dark
    h1, h2
      color: #fff

.step_1
  position: relative
  top: 50%
  transform: translateY(-50%)
  text-align: center
  transition: all 0.4s ease-in
  color: #fff

  &.invalid_url
    .error
      display: block
      opacity: 1
      transition: all 0.4s

  &.animate_out
    animation: step_up 0.4s forwards

  h1
    font-size: 24px
    margin-bottom: 10px

  .photo_url
    border: none
    resize: none
    outline: none
    background: none

    min-width: 550px
    max-width: 100%

    border-bottom: 1px solid #dbdbdb
    padding: 10px

    font-size: 26px
    text-align: center
    color: #fff

    +no_appearance()
    +placeholder
      white-space: nowrap
      color: rgba(255, 255, 255, 0.3)

    &:focus
      +no_appearance()

  .suggestion
    display: block
    font-size: 16px
    margin-top: 20px

    a
      text-decoration: none
      color: $action-blue-hover
      &:hover
        color: $action-blue

  .go
    margin-top: 40px
    min-width: 120px
    opacity: 0

    &.hidden
      display: none

    &.animate_in
      animation: slide_up 0.4s forwards

  .error
    display: none
    opacity: 0
    font-size: 14px
    color: $action-red
    margin-top: 20px

.step_2
  opacity: 0
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: -20px

  &.animate_in
    animation: animate_hand 0.75s forwards
    // animation-delay: 0.5s


@media only screen and (max-width: 600px)
  .step_1
    h1
      font-size: 18px
    .photo_url
      min-width: 90%
      font-size: 14px
    .suggestion
      font-size: 12px

