{% include head.html %}

{% include header.html %}

<div class="wrapper step_1 animate_in">
  <h1>Paste in a 500px Prime photo URL</h1>
  <form id="url">
    <input class="photo_url" placeholder="https://prime.500px.com/photos/37790924" rows="1"></input>
    <span class="suggestion">
      Don't have a photo in mind? Try <a class="example" href="#">this photo</a>.
    </span>
    <button type="submit" class="button large go hidden">Go!</button>
    <span class="error">Please enter a valid Prime photo URL.</span>
  </form>
</div>

<div class="wrapper step_2 hidden fb">
  <div class="phone-hand images">
    <img class="phone" src="assets/phone.png" />
    <img class="app-image facebook" src="assets/fb.png" />
    <img class="app-image instagram" src="assets/ig.png" />
    <img class="app-image linkedin" src="assets/li.png" />
    <img class="app-image twitter" src="assets/tw.png" />
    <div class="prime-photo"></div>
  </div>
  <div class="links">
    <a class="fb" href="#fb">Facebook</a>
    <a class="ig" href="#ig">Instagram</a>
    <a class="li" href="#li">LinkedIn</a>
    <a class="tw" href="#tw">Twitter</a>
 </div>
 <div class="buy">
    <a target="_blank" class="button">License This Photo</a>
    <a href="#" class="back">Choose another photo</a>
  </div>
</div>

{% include footer.html %}
